<!DOCTYPE html>
<html>
<head>
    <title>Querie 1</title>
    <style>

    </style>
</head>

<% for(var i=0; movie.length > i; i++) { %>
<tr>
    <td style="color: ghostwhite; background-color:black;"> <%= result[i].columns %></td>
    <tr/>

<tr>
    <td style="color: ghostwhite; background-color:black;"> <%= result[i].columns %></td>
<tr/>

<tr>
    <td style="color: ghostwhite; background-color:black;"> <%= result[i].columns %></td>
<tr/>
<p>

    my sql commands
</p>




</html>