<!DOCTYPE html>
<html>
<head>
    <title>Querie 6</title>
    <style>
        h1 {
            text-shadow: 2px 2px white;
        }
        h2 {
            font-weight: bold;
            font-size: large;
        }
    </style>
</head>
<body>
<h1>Querie 6</h1> <br>
<table style="color:black"; border="2">
    <th style="color: ghostwhite; background-color:black;">MOVIE_ID</th>
    <th style="color: ghostwhite; background-color:black;">MOVIE NAME</th>
    <th style="color: ghostwhite; background-color:black;">GENRE</th>
    <% for(var i=0; result.length > i; i++) { %>
    <tr>
        <td style="color: ghostwhite; background-color:black;"> <%= result[i].MOVIE_ID %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= result[i].MOVIE_NAME %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= result[i].M_GENRE %></td>
    </tr>
    <% } %>
</table>

<h2>
    SQL Statement for GROUP BY:
</h2>
<td></td>
SELECT MOVIE_ID, MOVIE_NAME, movie.M_GENRE <br>
from movie where movie.M_GENRE = 'Fantasy/Sci-fi'<br>
GROUP BY MOVIE_NAME;<br>
</p>

<h2>Description:
</h2>
<p>
    This query retrieves all movies that are in the genre "Fantasy/Sci-fi"<br>
    then groups them by there name *alphabetically*
</p>



</body>
</html>