<html>
<head>
  <style>
    .button {
      background-color: #4CAF50; /* Green */
      border: solid;
      border-color: black;
      padding: 15px 32px;
      text-align: center;
      text-color: white;
      text-decoration: white;
      display: inline-block;
      font-size: 17px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button2 {background-color: #008CBA;} /* Blue */

    h1 {
      text-shadow: 2px 2px white;
    }

    center {
      margin: auto;
      width: 50%;
      border: 3px solid black;
      padding: 10px;
    }
    h2 {
      font-weight: bolder;
      font-size: medium;
    }
    img {
      border-radius: 50px;
    }
  </style>

  <title>Home - View All</title>
</head>
<body>
<body style="background-color:powderblue;">
<td>
  <center



  </div>
  <h1 style="color: black;"> Movie Theater Database</h1>
  <br>
<td>
  <button onclick="window.location.assign('/cinema/all')"; class="button button2">Cinema</button>


<button onclick="window.location.assign('/movie/all')"; class="button button2">Movie</button>

<button onclick="window.location.assign('/auditorium/all')"; class="button button2">Auditorium</button>

<button onclick="window.location.assign('/ticket_sales/all')"; class="button button2">Ticket Sale</button>

<h1 style="color: black;"> Queries</h1>



</td>
<button onclick="window.location.assign('/queries/query1')"; class="button button2">Query 1</button>
<td>
</td>
<button onclick="window.location.assign('/queries/query2')"; class="button button2">Query 2</button>
<td>
</td>
<button onclick="window.location.assign('/queries/query3')"; class="button button2">Query 3</button>
<td>
</td>
<button onclick="window.location.assign('/queries/query4')"; class="button button2">Query 4</button>
<td>
<td>
  <button onclick="window.location.assign('/queries/query5')"; class="button button2">Query 5</button>
</td>
</td>
<button onclick="window.location.assign('/queries/query6')"; class="button button2">Query 6</button>
<td>
</td>
<button onclick="window.location.assign('/queries/query7')"; class="button button2">Query 7</button>
<td>
  <button onclick="window.location.assign('/queries/query8')"; class="button button2">Query 8</button>
</td>
<td>
  <button onclick="window.location.assign('/queries/query9')"; class="button button2">Query 9</button>
</td>
<td>
  <button onclick="window.location.assign('/queries/query10')"; class="button button2">Query 10</button>
</td>
<br>
<img src="https://geekandsundry.com/wp-content/uploads/2016/08/JPEG-Promo-62-970x545.jpg"
     width="230" height="180">
</a>
</center>
</body>
</html>