<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>

        h1 {
            text-shadow: 2px 2px white;
        }
        center {
            margin: auto;
            width: 50%;
            border: 3px solid black;
            padding: 10px;
        }
        h2 {
            font-weight: bolder;
            font-size: large;
        }
    </style>

    <title>Cinema - Add</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<body style="background-color:powderblue;">
<center
<h1 style="color: black; ">Add New Cinema</h1> <br>
<i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
<i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
<i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
<i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
<form action="/cinema/insert" method="get">
    CINEMA STREET: <input name ="CINEMA_STREET" type="text" /><br/>
    CINEMA CITY : <input name="CINEMA_CITY" type="text" /><br/>
    CINEMA STATE : <input name="CINEMA_STATE" type="text" /><br/>
    CINEMA ZIP : <input name="CINEMA_ZIP" type="text" /><br/>
    CINEMA NAME : <input name="CINEMA_NAME" type="text" /><br/>
    <i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
    <i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
    <i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
    <i class="fa fa-cloud"></i><i class="fa fa-cloud"></i>
    <br />

    <input type="submit" />

</form>
</center>
</body>
</html>
