<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>

        h1 {
            text-shadow: 2px 2px white;
        }
        center {
            margin: auto;
            width: 50%;
            border: 3px solid black;
            padding: 10px;
        }
        h2 {
            font-weight: bolder;
            font-size: large;
        }
    </style>
    <title>Movie - Add</title>
</head>
<body style="background-color:powderblue;">

<body>
<center
<h1 style="color: black; ">Add New Movie</h1>
<form action="/movie/insert" method="get">
    MOVIE NAME: <input name ="MOVIE_NAME" type="text" /><br/>
    MOVIE GENRE: <input name="M_GENRE" type="text" /><br/>
    MOVIE DIRECTOR: <input name="M_DIRECTOR" type="text" /><br/>
    MOVIE RATING: <input name="RATING" type="text" /><br/>

    <br />

    <input type="submit" />

</form>
</center>
</body>
</html>
