<!DOCTYPE html>
<html>
<head>
    <style>

        h1 {
            text-shadow: 2px 2px white;
        }
    </style>
    <title>Movie - Add</title>
</head>
<body style="background-color:powderblue;">

<body>
<h1 style="color: black; ">Add New Movie</h1>
<form action="/movie/insert" method="get">
    MOVIE NAME: <input name ="MOVIE_NAME" type="text" /><br/>
    MOVIE GENRE: <input name="M_GENRE" type="text" /><br/>
    MOVIE DIRECTOR: <input name="M_DIRECTOR" type="text" /><br/>
    MOVIE RATING: <input name="RATING" type="text" /><br/>

    <br />

    <input type="submit" />

</form>
</body>
</html>
